*{
	font-family: 'Poppins', sans-serif;
	}
#main{
	color: black;
	text-align: center;
	padding-top: 30px;
	font-size: 25px;
	word-spacing: 20px;
	padding-right: 1.5%;
}
.pill a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 5px;
  margin-top: 0;
  position: relative;
  z-index: 2;

}

.pill a:hover {
  background-color: orange;
  color: black;
}

.pill a.active {
  background-color: orange;
  color: black;
  font-weight: bold;
}
#icon1{
	font-size:48px;
	
	color:black
	padding: 5px;
	margin: 0;
	border: 0;
	font-weight: bold;
	padding-top:20px; 
	padding-left:91%;
	display: flex;
	
}
#icon1 span{
	color: black;
	font-family: papyrus;
	display: flex;
	padding-top: 5px;

}
body{
	background-image: url('blur.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100% 43.33%;
    padding-bottom: 30px;

}

.post p{
    font-size:20px;
    font-style:italic;
    padding-top:10px;
    border: 5px;
    margin:100px
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 3px;
    word-spacing: 2px;
    outline:10px;
    text-align: center;
    font-weight: normal;
}
button{
	background-color:orange;
	color:black;
	padding:10px 15px;
	border:none;
	text-align: center;
	margin-left: 46%;
	position: relative;
	cursor: pointer;
	font-size: 20px;
}

button:hover{
	background:white;
	color:black;
	font-weight: bold;

}
h3{
	color: black;
	text-align: center;
	padding-top: 150px;
	font-size: 50px;
	border-top: 20px;
	margin-top: 40px;
	font-weight: normal;
}
span{
	color:orange;
}
.post1 p{
	font-size:15px;
    font-style:italic;
    padding-top:0px;
    padding-bottom: 0;
    border: 0px;
    margin:0px
    text-indent: 0px;
    text-align: justify;
    letter-spacing: 1px;
    outline:0px;
    text-align: center;
}
.block{
	float:left;
	width:33.3%;
	border:60px;
	padding:60px;
	box-sizing:border-box;
}
.block h3{
	font-weight: bold;
	font-size:20px;

}
.block p{
	text-align: justify;
}
.block button{
	background-color:orange;
	color:black;
	padding:10px 15px;
	border:none;
	text-align: center;
	margin-left: 36%;
}

.block button:hover{
	background:red;
	color:black;

}
footer{
	text-align:center;
	font-style:italic;
    text-align: center;
    padding: 5px;
    margin-top: 400px;
    font-size: 14px;
    color: black;
    background-color: orange;
}
#icon2{
	font-size:70px;
	color:black;
	text-align: center;
	padding-left: 120px;
	padding-top: 3px;
}
#icon2 span{
	font-size: 30px;
	padding-left: 10px ;
	color: black;
	font-weight: bold;
}
#icon3{
	font-size:70px;
	color:black;
	text-align: center;
	padding-left: 100px;
	padding-top: 3px;
}
#icon3 span{
	font-size: 30px;
	padding-left:10px ;
	color: black;
}
#icon4{
	font-size:70px;
	padding-top: 3px;
	color:black;
	text-align: center;
	padding-left: 100px;
}
#icon4 span{
	font-size: 30px;
	padding-left:10px ;
	color: black;
}